body {
    font-family: 'Castoro Titling', cursive;
    font-family: 'Source Serif Pro', serif;
    background-color: $backgroundcolor;
    .mainTatuajes {
        .titulos__tamaño {
            @include sizes (400px, 400px);
            margin-bottom: 7%;
            margin-top: 7%;
        }
        .titulotatu {
            display: map-get($map: $flexelements, $key: flex);
            flex-direction: map-get($map: $flexelements, $key: column);
            align-items: center;
            font-size: small;
            .titulo{
                font-family: $fonttitulo;
            }
        }
        .contenedorGaleria {
            display: map-get($map: $flexelements, $key: flex);
            flex-wrap: wrap;
            justify-content: map-get($map: $flexelements, $key: space-evenly);
            margin-bottom: 15%;
            .ImgTatu {
                @include sizes (30%, fit-content);
                margin-top: 2%;
                border: 1px black solid;
                border-radius: 20px;
            }
            .ImgTatuUno{
                @include sizes (30%, fit-content);
                margin-top: 0%;
                border: 1px black solid;
                border-radius: 20px; 
            }
        }
        .contenedorGaleriados {
            @extend .contenedorGaleria;
            .imgTatudos {
                @include sizes (30%, auto);
                border: 1px black solid;
                border-radius: 20px;
                margin-top: 5%;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){
    body {
        font-family: 'Castoro Titling', cursive;
        font-family: 'Source Serif Pro', serif;
        background-color: $backgroundcolor;
        .mainTatuajes {
            width: 100vw;
            overflow-x: hidden;
            .titulos__tamaño {
                @include sizes (300px, 300px);
                margin-bottom: 30%;
            }
    
            .contenedorGaleria {
                display: map-get($map: $flexelements, $key: flex);
                flex-wrap: wrap;
                justify-content: map-get($map: $flexelements, $key: space-evenly);
                margin-bottom: 30%;
                .ImgTatu {
                    @include sizes (250px, 250px);
                    margin-top: 5%;
                    border: 1px black solid;
                    border-radius: 20px;
                }
                .ImgTatuUno {
                    @include sizes (250px, 250px);
                    margin-top: 5%;
                    border: 1px black solid;
                    border-radius: 20px;
                }
            }

            .contenedorGaleriados {
                display: map-get($map: $flexelements, $key: flex);
                flex-wrap: wrap;
                justify-content: map-get($map: $flexelements, $key: space-evenly);
    
                .imgTatudos {
                    @include sizes (300px, 300px);
                    border: 1px black solid;
                    border-radius: 20px;
                    margin-top: 5%;
                }
            }
        }
    }
}